@charset "UTF-8";

header, nav {
    flex-flow: column nowrap;
}

header h1 {
    flex-basis: 50px;
    text-align: center;
    margin-bottom: 5px;
}

header p {
    flex-basis: 50px;
    text-align: center;
    margin-bottom: 5px;
}

nav > a {
    width: 90vw;
}

main h2 {
    font-size: 1.5em;
    margin-left: 5px;
    text-align: center;
}